#homerecipes{
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

.recipes{
    color: purple;
    background-color: darksalmon;
    text-align: center;

}